<div class="ribbon" style="background-image:url(<%= @background_image.image_url if @background_image.present? %>)">

  <div class="ribbon-gradation">
  </div>
  <div class="inner-ribbon user-profile-wrapper">
    <div class="user-profile">
      <div class="user-caption">
        <div class="circle" style="background-image:url(<%= @current_user.thumbnail %>)"></div>
        <div class="user-data">
        <h3 class="user-name"><%= @current_user.name %></h3>
        </div>
      </div>
      <div class="user-meta-data">
        <div class="following">
          <%= @home_list.count %>
          <div class="meta-data-unit">items</div>
        </div>
        <div class="follower">
          <%= Timer.done_task_count(@current_user.id) %>
          <div class="meta-data-unit">こなしたタスク数</div>
        </div>
      </div>
    </div>

  </div>
</div>


<section class="mdl-grid section--center list-content">

    <!-- timer -->

  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--4dp">
    <div class="timer-wrapper">

      <h4>
        <i class="material-icons">access_time</i>
        タイマー
        <div class="timer-meta-data">
          <span class="set-timer"><%= @all_timers.size %>件のタイマー</span>
          <!--<span class="overflow-timer">100件のタイマー</span>-->
        </div>
      </h4>

      <div class="mdl-card__supporting-text">

        <% if false %>
        <div class="timer item-meta-data">
          <div class="timer-data">
            <div class="timer-desc">
              <div class="timer-task"><i class="material-icons">folder</i>すごいリスト > <i class="material-icons">event</i>部屋の片付け(あと7ヶ月)</div>
              <div id="timer1" class="mdl-progress mdl-js-progress timer-bar"></div>
            </div>
          </div>
          <div class="timer-action">
            <button class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">check</i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">settings</i>
            </button>
          </div>
        </div>
        <% end %>

        <% timer_count = @all_timers.size > Timer::MAX_SHOWING_TIMER ? Timer::MAX_SHOWING_TIMER : @all_timers.size %>
        <% timer_count.times do |i| %>
          <% timer = @all_timers[i] %>
          <div class="timer item-meta-data">
            <div class="timer-data">
              <div class="timer-desc">
                <div class="timer-task"><%= link_to timer.name, item_path(timer.list_id) %></div>
                <div class="mdl-progress mdl-js-progress timer-bar">
                
                
                  <% due_at = timer.over_due_from ? timer.over_due_from : timer.next_due_at %>
                  <% start_at = timer.latest_calc_at %>
                  <div class="progressbar bar bar1" style="width: <%= remaining_percent(due_at, start_at) %>%; background-color:hsl(<%= remaining_bar_style(due_at, start_at) %>, 100%, 70%);"></div>
                  <div class="progressbar bar remaining-time"><%= remaining_time_string(due_at) %></div>
                
                
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>

      <div class="mdl-card__actions mdl-card--border text-right">
        <!--
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">add</i>
          タイマーを追加する
        </button>
        -->
        　
        <%= link_to "もっと見る", "#" %>
      </div>

    </div>
  </div>

  <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--4dp">
    <!-- graph -->
    <div class="graph-wrapper">
      <h4>
        <i class="material-icons">timeline</i>
        アイテムグラフ
      </h4>
      <div id="chart">
      </div>

    </div>
  </div>


  <!-- lists and timelines -->
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-card mdl-shadow--4dp mdl-cell--top">

    <div class="popular-list-wrapper">
      <h4>
        <i class="material-icons">trending_up</i>
        人気のリスト
      </h4>
    
      <div class="mdl-card__supporting-text">
        <ul class="list-items">

          <%= render partial: 'items/child_item_list', locals: {child_items: @popular_list.slice(0...4), is_user_page: false } %>

        </ul>

      </div>
      <div class="mdl-card__actions text-right">
        <%= link_to "もっと見る", "#" %>
      </div>
    </div>

    <!-- timeline -->

    <div class="timeline-wrapper">
      <h4>
        <i class="material-icons">list</i>
        みんなのタイムライン
      </h4>
    
      <div class="mdl-card__supporting-text">
        <% if @timeline.size > 0 %>
          <div class="start-circle">
          </div>
          <ul class="timeline">
            <li class="bar"></li>
            <%= render 'shared/timeline', timeline: @timeline, has_next_event: @has_next_event, is_home: true %>
          </ul>
        <% else %>
          <div class="text-center nothing">イベントはありません。</div>
        <% end %>
      
      </div>
    </div>


  </div>



  <!-- secondary card -->
  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-card mdl-shadow--4dp secondary-card mdl-cell--top">
    <div>
      <h6>カテゴリリスト</h6>
      <nav class="category-nav">

        <%== category_list(current_user.item_tree(relation_to_owner: Relation::HIMSELF)) %>
      </nav>
    </div>

  
  
  </div>
</section>
