<%# TODO: userの一番Likeが多い画像をbgにする %>
<div class="ribbon" style="background-image:url(<%= @user.items.last.item_images.last.image_url if @user.items.present? && @user.items.last.item_images.present? %>)">

  <div class="ribbon-gradation">
  </div>
  <div class="inner-ribbon user-profile-wrapper">
    <div class="user-profile">
      <div class="user-caption">
        <div class="circle"></div>
        <div class="user-data">
          <h3 class="user-name">ユーザー名</h3>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">person_add</i>
            フォロー
          </button>
        </div>
      </div>
      <div class="user-meta-data">
        <div class="following">
          1000
          <div class="meta-data-unit">following</div>
        </div>
        <div class="follower">
          1000
          <div class="meta-data-unit">following</div>
        </div>
      </div>
    </div>

  </div>
</div>


<section class="mdl-grid section--center list-content">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-card mdl-shadow--4dp mdl-cell--top">

    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
        <a href="#item-list" class="mdl-tabs__tab is-active">
          <div class="tab-caption">リスト</div>
          <div class="tab-name">100</div>
        </a>
        <a href="#image-list" class="mdl-tabs__tab">
          <div class="tab-caption">画像一覧</div>
          <div class="tab-name">100</div>
        </a>
        <a href="#timeline" class="mdl-tabs__tab">
          <div class="tab-caption">履歴</div>
          <div class="tab-name">100</div>
        </a>
        <a href="#like" class="mdl-tabs__tab">
          <div class="tab-caption">like</div>
          <div class="tab-name">1000</div>
        </a>
      </div>

      <!-- item list -->
      <div class="mdl-tabs__panel is-active" id="item-list">
        <ul class="list-items">
          <% @user.items.each do |item| %>
            <li>
              <!-- item-image -->
              <div class="list-item-image">
                <% unless item.item_images.empty? %>
                  <div class="image-circle">
                    <%= link_to image_tag(item.item_images.last.image_url), item_path(id: item.id) %>
                  </div>
                <% else %>
                  <%= link_to item_path(id: item.id) do %>
                    <div class="image-circle list-item-image-alt">
                      <% if item.is_list %>
                        <i class="material-icons">folder</i>
                      <% else %>
                        <i class="material-icons">attachment</i>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <!-- item-text -->
              <div class="list-item-text">
                <h5>
                  <%= link_to item_path(id: item.id) do %>
                    <% if item.is_list %>
                      <i class="material-icons">folder</i>
                    <% else %>
                      <i class="material-icons">attachment</i>
                    <% end %>
                    <%= item.name %>
                  <% end %>
                </h5>
                <div class="addings">
                  <div class="item-count">
                    <%= item.count %><span>items</span>
                  </div>
                  <p class="tags">
                    <% item.tag_list.each do |tag| %>
                      <span class="tag"><%= tag %></span>
                    <% end %>
                  </p>
                </div>
              </div>

              <!-- item-fabs -->
              <div class="list-item-meta">
                <i class="material-icons">favorite</i><span>100</span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <!-- item images -->
      <div class="mdl-tabs__panel" id="image-list">
        <div class="mdl-grid">
          <% @user.items.each do |item| %>
            <div class="mdl-cell mdl-cell--4-col">
              <div class="card-image mdl-card mdl-shadow--2dp" style="background-image:url('<%= item.item_images.last.image_url if item.item_images.present? %>')">
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <!-- item timeline -->
      <div class="mdl-tabs__panel" id="timeline">
        <div class="start-circle">
        </div>
        <ul class="timeline">
          <li class="bar"></li>
          <li>
            <div class="event-type">
              <div class="event-circle add">
                <i class="material-icons">add</i>
              </div>
            </div>
            <div class="event-text">
              <p>アイテムを追加しました。</p>
              <h5>
                <div class="image-circle">
                  <%= link_to image_tag(@user.items.last.item_images.last.image_url), item_path(id: @user.items.last.id) %>
                </div>
                かっこいいセーターあああああああああああああああ
              </h5>
            </div>
            <div class="event-time">
              1日前
            </div>
          </li>
          <li>
            <div class="event-type">
              <div class="event-circle image">
                <i class="material-icons">image</i>
              </div>
            </div>
            <div class="event-text">
              <p>画像を追加しました。</p>
              <h5>
                <div class="image-circle">
                  <%= link_to image_tag(@user.items.last.item_images.last.image_url), item_path(id: @user.items.last.id) %>
                </div>
              </h5>
            </div>
            <div class="event-time">
              10時間前
            </div>
          </li>
          <li>
            <div class="event-type">
              <div class="event-circle dump">
                <i class="material-icons">delete</i>
              </div>
            </div>
            <div class="event-text">
              <p>アイテムを手放しました</p>
              <h5>
                <div class="image-circle">
                  <%= link_to image_tag(@user.items.last.item_images.last.image_url), item_path(id: @user.items.last.id) %>
                </div>
                ださいセーター
              </h5>
            </div>
            <div class="event-time">
              10時間前
            </div>
          </li>
          <li>
            <div class="event-type">
              <div class="event-circle create">
                <i class="material-icons">create</i>
              </div>
            </div>
            <div class="event-text">
              <h5 class="created">
                アイテムを作成しました。
              </h5>
            </div>
            <div class="event-time">
              10時間前
            </div>
          </li>
        </ul>
      </div>

      <!-- liked item -->
      <div class="mdl-tabs__panel" id="like">


        <ul class="list-items">
          <% @user.items.each do |item| %>
            <li>
              <!-- item-image -->
              <div class="list-item-image">
                <% unless item.item_images.empty? %>
                  <div class="image-circle">
                    <%= link_to image_tag(item.item_images.last.image_url), item_path(id: item.id) %>
                  </div>
                <% else %>
                  <%= link_to item_path(id: item.id) do %>
                    <div class="image-circle list-item-image-alt">
                      <% if item.is_list %>
                        <i class="material-icons">folder</i>
                      <% else %>
                        <i class="material-icons">attachment</i>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <!-- item-text -->
              <div class="list-item-text">
                <div class="item-owner">ああああああさんのアイテム</div>
                <h5>
                  <%= link_to item_path(id: item.id) do %>
                    <% if item.is_list %>
                      <i class="material-icons">folder</i>
                    <% else %>
                      <i class="material-icons">attachment</i>
                    <% end %>
                    <%= item.name %>
                  <% end %>
                </h5>
                <div class="addings">
                  <div class="item-count">
                    <%= item.count %><span>items</span>
                  </div>
                  <p class="tags">
                    <% item.tag_list.each do |tag| %>
                      <span class="tag"><%= tag %></span>
                    <% end %>
                  </p>
                </div>
              </div>

              <!-- item-fabs -->
              <div class="list-item-meta">
                <i class="material-icons">favorite</i><span>100</span>
              </div>
            </li>
          <% end %>
        </ul>


      </div>

    </div>

  </div>

  <!-- secondary card -->
  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-card mdl-shadow--4dp secondary-card mdl-cell--top"></div>
</section>





<h1>User#index</h1>
<p>Find me in app/views/user/index.html.erb</p>
