<div class="text-field field">
  <%= f.hidden_field :is_list, value: is_list %>
  <div class="validation-error">名前を入力してください</div>
  <%= f.label :name, (is_list ? "リスト" : "アイテム" ) + "名", class: "form-label" %><span class="input-required"> 必須入力</span>
  <%= f.text_field :name, autofocus: true, class: "mdl-textfield__input typeahead list-name", required: true %>
</div>

<div class="text-field field">
  <%= f.label :description, "説明", class: "form-label" %>
  <%= f.text_area :description ,class: "mdl-textfield__input", cols: "3" %>
</div>

<div class="field">
  <label class="form-label">タグ</label>
  <ul class="item-tags">
    <% item.tag_list.each do |tag| %>
      <li><%= tag %></li>
    <% end %>
  </ul>
</div>

<div class="field">
  <label class="form-label">公開範囲</label>
  <div>
    <% Item.private_types.each do |type| %>
      <%= f.label :private_type, type[0], value: type[0], class: "mdl-radio mdl-js-radio mdl-js-ripple-effect", for: id + '_private_type_' + type[0] do  %>
        <%= f.radio_button :private_type, type[0], class: "mdl-radio__button", id: id + '_private_type_' + type[0] %>
        <span class="mdl-radio__label">
          <%= t('states.items.private_type.' + type[0]) %>
        </span>
      <% end %>
      <br>
    <% end %>
  </div>
</div>

<div class="field mdl-textfield mdl-js-textfield">
  <label class="form-label">属するリスト</label>
  <% if type == 'create' %>
    <% selected = (@item && @item.is_list ? @item.id : '') %>
  <% else %>
    <% selected = (@item && @item.list_id ? @item.list_id : '') %>
  <% end %>
  <%= f.select :list_id, options_from_collection_for_select(@list, :id, :name, { selected: selected, disabled: (item.is_list ? item.id : '')}), {include_blank: "どのリストにも入れない"}, {class: "mdl-textfield__input"} %>
</div>

<% unless is_list %>
  <div class="field mdl-js-textfield">
    <label class="form-label">アイテムの個数</label>
    <%= f.number_field :count, class: "mdl-textfield__input item-count", min: 1 %>
  </div>
<% end %>

<div class="field image-list">
  <label class="form-label">画像を追加する</label><br>
  <div class="image-field">
    <%= f.file_field :item_images, multiple: true, class: "upload-item-image" %>
    <div class="thumbnail"></div>
    <div class="adding-text image-description">
      画像追加
    </div>
  </div>
</div>

<div>
  <div class="validation-error">
    名前を入力してください。
  </div>
  <div class="sending-error">
    送信に失敗しました。時間をおいてから再度お試しください。
  </div>
  <div class="send-form mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
    送信
  </div>
</div>
