<div class="ribbon" style="background-image:url(<%= @item.item_images.last.image_url unless @item.item_images.empty? %>)">

  <div class="ribbon-gradation">
  </div>
  <div class="inner-ribbon">
    <section class="mdl-grid section--center">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet ">

        <div class="circle">
          <div class="item-count"><%= @child_items.size %></div>
          <div class="item-unit">items</div>
        </div>
        <div>
          <h6 class="bread-crumb">あいうえお > かきくけこ</h6>
          <h3 class="item-title"><i class="material-icons">folder</i> <%= @item.name %></h3>
        </div>
      </div>

    </section>
  </div>
</div>

<div class="meta-data-ribbon">
  <section class="mdl-grid section--center">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet item-meta-data">
      <div class="tag-icon"><i class="material-icons">label</i></div>
            <div class="tags">
              <% @item.tag_list.each do |tag| %>
                <span class="tag"><%= tag %></span>
              <% end %>
            </div>
            <div class="item-meta-fab">
              <i class="material-icons">favorite</i><span>100</span>
              　
              <i class="material-icons">chat_bubble</i><span>100</span>
            </div>
    </div>

    <!-- timer -->

    <div class="mdl-grid section--center mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-card timer mdl-shadow--4dp">

      <h4>
        <i class="material-icons">access_time</i>
        設定中のタイマー
      </h4>

      <% @item.timers.each_with_index do |timer, index| %>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet item-meta-data">
          <div class="timer-data">
            <div class="timer-desc">
              <div class="timer-task"><%= timer.name %> <%#TODO: 毎週金曜とか繰り返し条件を表示するか、次の期限日だけを表示するか？ %></div>
              <div class="mdl-progress mdl-js-progress timer-bar">
                <% due_at = timer.over_due_from ? timer.over_due_from : timer.next_due_at %>
                <% start_at = timer.get_start_at %>
                <div class="progressbar bar bar1" style="width: <%= remaining_percent(due_at, start_at) %>%; background-color:hsl(<%= remaining_bar_style(due_at, start_at) %>, 100%, 70%);"></div>
              <div class="progressbar bar remaining-time"><%= remaining_time_string(timer.next_due_at) %></div>
              </div>
            </div>
          </div>
          <div class="timer-action">
            <button class="done mdl-button mdl-js-button mdl-button--icon" data-form-type="done_timer_<%= index %>">
              <i class="material-icons">check</i>
            </button>

            <button id="timer-action-menu-<%= index %>" class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">more_vert</i>
            </button>

            <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
                for="timer-action-menu-<%= index %>">
              <li class="mdl-menu__item" data-form-type="edit_timer_<%= index %>">編集</li>
              <li class="mdl-menu__item" data-form-type="delete_timer_<%= index %>">削除</li>
            </ul>

          </div>

        </div>
      <% end %>

      <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet item-meta-data  text-center">
        <button id="add_timer_button" class="mdl-button mdl-js-button mdl-js-ripple-effect" data-form-type="add_timer">
          <i class="material-icons">add</i>
          タイマーを追加する
        </button>
      </div>
    </div>
  </section>
</div>

<section class="mdl-grid section--center list-content">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-card mdl-shadow--4dp mdl-cell--top">

    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
        <a href="#item-list" class="mdl-tabs__tab is-active">
          <div class="tab-caption">モノリスト</div>
          <div class="tab-name"><%= @child_items.size %></div>
        </a>
        <a href="#image-list" class="mdl-tabs__tab">
          <div class="tab-caption">画像一覧</div>
          <div class="tab-name"><%= @item.item_images.size %></div>
        </a>
        <a href="#timeline" class="mdl-tabs__tab">
          <div class="tab-caption">履歴</div>
          <div class="tab-name"><%= @item.item_images.size %></div>
        </a>
      </div>

      <!-- item list -->
      <div class="mdl-tabs__panel is-active" id="item-list">
        <ul class="list-items">
          <% @child_items.each do |item| %>
            <li>
              <!-- item-image -->
              <div class="list-item-image">
                <% unless item.item_images.empty? %>
                  <div class="image-circle">
                    <%= link_to image_tag(item.item_images.last.image_url), item_path(id: item.id) %>
                  </div>
                <% else %>
                  <%= link_to item_path(id: item.id) do %>
                    <div class="image-circle list-item-image-alt">
                      <% if item.is_list %>
                        <i class="material-icons">folder</i>
                      <% else %>
                        <i class="material-icons">attachment</i>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <!-- item-text -->
              <div class="list-item-text">
                <h5>
                  <%= link_to item_path(id: item.id) do %>
                    <% if item.is_list %>
                      <i class="material-icons">folder</i>
                    <% else %>
                      <i class="material-icons">attachment</i>
                    <% end %>
                    <%= item.name %>
                  <% end %>
                </h5>
                <div class="addings">
                  <div class="item-count">
                    <%= item.count %><span>items</span>
                  </div>
                  <p class="tags">
                    <% item.tag_list.each do |tag| %>
                      <span class="tag"><%= tag %></span>
                    <% end %>
                  </p>
                </div>
              </div>

              <!-- item-fabs -->
              <div class="list-item-meta">
                <i class="material-icons">favorite</i><span>100</span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <!-- item images -->
      <div class="mdl-tabs__panel" id="image-list">
        <div class="mdl-grid">
          <% @item.item_images.each do |image| %>
            <div class="mdl-cell mdl-cell--4-col">
              <div class="card-image mdl-card mdl-shadow--2dp" style="background-image:url('<%= image.image_url %>')">
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <!-- item timeline -->
      <div class="mdl-tabs__panel" id="timeline">
        <div class="start-circle">
        </div>
        <ul class="timeline">
          <li class="bar"></li>
          <%= render 'timeline'%>
        </ul>
      </div>

    </div>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>

  </div>

  <!-- secondary card -->
  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-card mdl-shadow--4dp secondary-card mdl-cell--top">
    <p class="description">
      <%= @item.description %>
      あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
    </p>
    <div class="share">
      <h6>共有する</h6>
      <div class="share-button">
        <%= image_tag "twitter-logo.png" %>
        <%= image_tag "hatenabookmark-logo.svg" %>
        <%= image_tag "facebook-logo.png", class: "fb" %>
      </div>
    </div>
    <div class="comment">
      <h6>コメント</h6>
      <div class="comment-wrapper">
        <div>
          <div class="commenter">
            <div class="commenter-image">
            </div>
            <div class="commenter-name">
              ユーザー
            </div>
            <div class="commented-time">
              10時間前
            </div>
          </div>
          <p class="comment-text">
              こめんとこめんと
          </p>
        </div>

        <div>
          <div class="commenter">
            <div class="commenter-image">
            </div>
            <div class="commenter-name">
              ユーザー
            </div>
            <div class="commented-time">
              10時間前
            </div>
          </div>
          <p class="comment-text">
              こめんとこめんと
          </p>
        </div>

        <form>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label comment-area">
            <textarea class="mdl-textfield__input" type="text" rows="3" maxrows="6"
            id="comment"></textarea>
            <label class="mdl-textfield__label" for="comment">コメントする</label>
          </div>
          <div class="text-right submit-comment">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons">mode_edit</i>
              投稿
            </button>
          </div>
        </form>

      </div>
    </div>
      
  </div>
</section>


<div id="fab-button" class="fab-wrapper">
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">add</i>
  </button>
  <div class="inner-fab-buttons">

    <div class="action-button-wrapper" data-form-type="add_list">
      <div class="tooltip">
        リストを追加する
      </div>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect">
        <i class="material-icons">folder</i>
      </button>
    </div>

    <div class="action-button-wrapper" data-form-type="add_item">
      <div class="tooltip">
        アイテムを追加する
      </div>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
        <i class="material-icons">attachment</i>
      </button>
    </div>

    <div class="action-button-wrapper" data-form-type="edit_item">
      <div class="tooltip">
        リストを編集する
      </div>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
        <i class="material-icons">create</i>
      </button>
    </div>

    <div class="action-button-wrapper" data-form-type="edit_image">
      <div class="tooltip">
        画像の追加/削除
      </div>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
        <i class="material-icons">image</i>
      </button>
    </div>

    <div class="action-button-wrapper" data-form-type="dump_item">
      <div class="tooltip">
        手放す
      </div>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
        <i class="material-icons">delete</i>
      </button>
    </div>

    <div class="action-button-wrapper" data-form-type="delete_item">
      <div class="tooltip">
        削除
      </div>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
        <i class="material-icons">cancel</i>
      </button>
    </div>

  </div>
</div>

<div id="fab-action-form">
  <div id="add_list">
    <h4>リストを作成</h4>
    <%= form_for(@new_item) do |f| %>
      <%= render 'list_form', f: f, item: @new_item, id: 'new_list', is_list: true, type: 'create' %>
    <% end %>
  </div>

  <div id="add_item">
    <h4>アイテムを作成</h4>
    <%= form_for(@new_item) do |f| %>
      <%= render 'list_form', f: f, item: @new_item, id: 'edit_item', is_list: false, type: 'create'%>
    <% end %>
  </div>

  <div id="edit_item">
    <h4>リストを編集</h4>
    <%= form_for(@item) do |f| %>
      <%= render 'list_form', f: f, item: @item, id: 'edit_list', is_list: true, type: 'edit' %>
    <% end %>
  </div>

  <div id="edit_image">
    <h4>画像の追加/削除</h4>
    <%= form_for(@item) do |f| %>
      <%= render 'image_form', f: f, item: @item, id: 'edit_image', type: 'edit_image' %>
    <% end %>
  </div>

  <div id="dump_item">
    <h4><%= (@item.is_list ?  "リスト" : "アイテム") %>を手放す</h4>
    <%= form_for(@item) do |f| %>
      <%= render 'dump_form', f: f, id: 'dump_item', type: 'dump_item', is_list: @item.is_list, dump_item: true  %>
    <% end %>
  </div>

  <div id="delete_item">
    <h4><%= (@item.is_list ?  "リスト" : "アイテム") %>の削除</h4>
    <%= render 'delete_form' %>
  </div>

  <div id="add_timer">
    <h4>タイマーの追加</h4>
    <%= form_for(@timer) do |f| %>
      <%= render 'timers/add_form', timer: @timer, f: f, id: 'adding-timer' %>
    <% end %>
  </div>

  <% @item.timers.each_with_index do |timer, index| %>
    <div id="edit_timer_<%= index %>" class="edit-timer-modal">
      <h4>タイマーの編集</h4>
      <%= form_for(timer) do |f| %>
        <%= render 'timers/add_form', timer: timer, f: f, id: 'edit-timer-' + index.to_s %>
      <% end %>
    </div>

    <div id="done_timer_<%= index %>" class="done-timer-modal">
      <h4>タイマータスクの完了</h4>
      <%= form_tag(timer_done_path(timer.id), method: :post) do %>
        <%= render 'timers/done_form', timer: timer, id: 'done-timer-' + index.to_s %>
      <% end %>
    </div>

    <div id="delete_timer_<%= index %>" class="delete-timer-modal">
      <h4>タイマータスクの削除</h4>
      <%= form_tag({controller: "timers", action: "destroy", id: timer.id}, method: :delete) do %>
        <%= render 'timers/delete_form', timer: timer, id: 'delete-timer-' + index.to_s %>
      <% end %>
    </div>

  <% end %>

</div>
