<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

  <% og_title = yield(:og_title).present? ? yield(:og_title) + " | " : "" %>
  <% og_title = og_title + "お部屋の片付け・お掃除サポートアプリ Havings" %>
  <title><%= og_title %></title>

  <meta property="og:title" content="<%= og_title %>" />
  <meta property="og:type" content="<%= yield(:og_type).presence || "website" %>" />
  <meta property="og:url" content="<%= request.url %>" />
  <% og_img_url = yield(:og_image).presence || asset_path("device.png") %>
  <meta property="og:image" content="<%= request.base_url + og_img_url %>" />
  <meta property="og:description" content="片付けたい場所、その場所にあるモノの情報を入力してグラフ化。持ちモノの把握を簡単に。お部屋の片付け・掃除をサポートするアプリです。iPhone、Androidで利用可能" />
  <meta name="description" content="片付けたい場所、その場所にあるモノの情報を入力してグラフ化。持ちモノの把握を簡単に。お部屋の片付け・掃除をサポートするアプリです。iPhone、Androidで利用可能" />

  <script src='https://www.google.com/jsapi'></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= include_gon %>
  <%= javascript_include_tag 'application' %>

  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.brown-amber.min.css" />
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <!--<header class="mdl-layout__header header">-->
  <header class="docs-layout-header mdl-layout__header is-casting-shadow">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"><%= image_tag("list_icon_white.png", style: "height: 30px;") %><%= link_to "Havings", root_path, class: "title" %></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <div class="search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search-field" />
        </div>
      </div>
      <!-- Navigation. We hide it in small screens. -->
      <!--<div class="docs-navigation__container navigation-container">-->
      <div class="docs-navigation__container">
        <nav class="docs-navigation mdl-navigation">
          <% unless user_signed_in? %>
            <%= link_to "新規登録/ログイン", new_user_session_path, class: "mdl-navigation__link" %>
          <% end %>

          <% if user_signed_in? %>
            <%= link_to "ダッシュボード", dashboard_path, class: "mdl-navigation__link" %>

            <% notifications = current_user.notification.get_showing_notification %>
            <% unread_notifications = notifications.count{|e|e[:unread]} %>
            <span id="notification_button" class="material-icons mdl-badge <%= "already-read" if unread_notifications <= 0 %>" <%= "data-badge=#{unread_notifications}" if unread_notifications > 0 %>>notifications</span>
            <%# notificationを既読にするためにajaxでpostする %>
            <%# 単純なgetで適当に叩かれて他のユーザーの通知を既読にされると困るので %>
            <%# CSRF用のtokenを使うようにする %>
            <%= form_tag(notification_read_path, method: :put) do %>
            <% end %>
            <div id="notification">
              <div class="balloon"></div>
              <div class="notification-content">
                <h6>お知らせ</h6>
                <ul>
                  <% if notifications.size > 0 %>
                    <% notifications.each do |notification| %>
                      <% notification_str = notification_str_by_type(notification) %>
                      <% if notification_str %>
                        <li class="<%= "unread" if notification[:unread] %>"><%== notification_str %></li>
                      <% end %>
                    <% end %>
                  <% else %>
                    <li>お知らせはありません。</li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </nav>
      </div>
    </div>
  </header>
  <!--
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  -->
  <main class="mdl-layout__content">
    <div class="page-content md-layout__tab-panel is-active">
    
      <%= yield %>
    
      <div id="notification_overlay"></div>'
    </div>

    <footer class="mdl-mega-footer">
      <!--
      <div class="mdl-mega-footer__middle-section">

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">Features</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="#">About</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Updates</a></li>
          </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">Details</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="#">Specs</a></li>
            <li><a href="#">Tools</a></li>
            <li><a href="#">Resources</a></li>
          </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">Technology</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="#">How it works</a></li>
            <li><a href="#">Patterns</a></li>
            <li><a href="#">Usage</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Contracts</a></li>
          </ul>
        </div>

        <div class="mdl-mega-footer__drop-down-section">
          <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer__heading">FAQ</h1>
          <ul class="mdl-mega-footer__link-list">
            <li><a href="#">Questions</a></li>
            <li><a href="#">Answers</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>

      </div>
      -->

      <div class="mdl-mega-footer__bottom-section">
        <!--<div class="mdl-logo">Havings</div>-->
        <ul class="mdl-mega-footer__link-list">
          <li><%= link_to "Havings", root_path %></li>
          <li>Copyright (C) 2016 Havings All Rights Reserved.</li>
        </ul>
      </div>

    </footer>

  </main>
</div>


</body>
</html>
